<%- include('../includes/header.ejs') %> 
<%- include('../includes/navigation.ejs') %>

<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Sorry! Something wrong!</strong> 
</div>

<%- include('../includes/footer.ejs') %>
